<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
  </script>
  <!-- <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script> -->
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body id="mybody" >
  <header>
    <div id="title">Video Chat</div>
  </header>

     <div id="chat-videos-container">

     <div id="video-grid" ></div>
    <div id="chat-container" >
    <div id="chatMessages">

    </div>

    <div>
      <input id="chatInput" type="text">
      <i id="sendButton" class="fas fa-plus" style="cursor: pointer;"></i>
 
     </div>
    </div>
    
     </div>
    
     
    
     <footer>
       <div class="video-options-group">
         <div class="video-option">
            <i class="fas fa-video" id="videoEnabledIcon" onclick="Video_Option_Handler('disable')"></i>
            <i class="fas fa-video-slash hideElement" id="videoDisabledIcon"   onclick="Video_Option_Handler('enable')"></i> 
         </div>
        
         <div class="video-option">
          <i id="muteEnabledIcon" class="fas fa-microphone"    onclick="Mute_Option_Handler('disable')"></i>
          <i id="muteDisabledIcon" class="fas fa-microphone-slash hideElement" onclick="Mute_Option_Handler('enable')"></i> 
         </div>
        <div class="video-option" style="display: flex;justify-content: center;">
          <div style="padding: 5px;" class="leave-call">
            <i class="fas fa-phone" style="transform: rotate(-135deg);" onclick="Leave_Call()"></i>
          </div>
          
        </div>
        
       </div>
     
     </footer>
 
</body>
</html>